FORMAT: 1A
HOST: https://descartes-api.quantumstack.xyz/

# Descartes

I think, therefore I am. [Open-source](https://github.com/quantumstack/descartes), educational web application.

<div align="right"><sup>
  made with ❤️ in Pittsburgh, PA by <a href="https://quantumstack.xyz">QuantumStack</a>
</sup></div>

## Authentication Collection [/auth]

This API uses OAuth v2 Bearer Token / Personal Access Token for its authentication.

### Login [POST /auth/login]

Login to an existing user account. Note that the responses for an incorrect email or incorrect password are identical.

+ Request 200 Valid Login (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "password": "example_password"
            }
            
+ Response 200 (application/json; charset=utf-8)

        {
            "success": true,
            "message": "You have successfully logged in.",
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjI0LCJpYXQiOjE1NTg2MzI2NTN9.gpRK6QPQpPkHJ7iOjFuL7mvaghJFdQJNnCRuDimlaKM",
            "user": {
                "userId": 24,
                "email": "aditya@example.com",
                "fullName": "Aditya Pillai"
            }
        }

+ Request 400 Incorrect Email (application/json)
    + Body

            {
                "email": "nonexistent-user@example.com",
                "password": "example_password"
            }
            

+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "incorrect-credentials",
            "message": "Incorrect email or password."
        }

+ Request 400 Incorrect Password (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "password": "incorrect_password"
            }
            

+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "incorrect-credentials",
            "message": "Incorrect email or password."
        }


### Signup [POST /auth/signup]

Create a new user.

+ Request 200 Valid Signup (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "password": "example_password",
                "fullName": "Aditya Pillai"
            }

+ Response 200 (application/json; charset=utf-8)

        {
            "success": true,
            "message": "You have successfully created an account."
        }
    
        
+ Request 409 User Account Already Exists (application/json8)
    + Body

            {
                "email": "aditya@example.com",
                "password": "example_password",
                "fullName": "Aditya Pillai"
            }
        
+ Response 409 (application/json; charset=utf-)

        {
            "success": false,
            "error": "user-already-exists",
            "message": "A user with this email address already exists."
        }


+ Request 400 Password Too Short (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "password": "short",
                "fullName": "Aditya Pillai"
            }
            
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "password-too-short",
            "message": "Please provide a password of length 8+."
        }
        
+ Request 400 Email Not Provided (application/json)
    + Body

            {
                "password": "example_password",
                "fullName": "Aditya Pillai"
            }
        
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "no-email",
            "message": "Please provide your email."
        }

+ Request 400 Password Not Provided (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "fullName": "Aditya Pillai"
            }
            
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "no-password",
            "message": "Please provide a password"
        }

+ Request 400 Full Name Not Provided (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "password": "example_password",
            }
            

+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "no-fullname",
            "message": "Please provide your full name."
        }

### Email Verification [POST /auth/verify]

Verify an email address given a confirmation code and email address. Note that the responses for an incorrect email or confirmation ID are both the same.

+ Request 200 Valid Email Confirmation (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "confirmationId": "uK_5G4d84FyhASl.nwjbDdLryV8pTGFfDRBwA5re~VmFwGl_ePiT-Nc5YqCf5JPq"
            }
            
+ Response 200 (application/json; charset=utf-8)

        {
            "success": true,
            "message": "Your email has been successfully verified."
        }

+ Request 400 Invalid Email Confirmation (application/json)
    + Body

            {
                "email": "invalid-email@example.com",
                "confirmationId": "uK_5G4d84FyhASl.nwjbDdLryV8pTGFfDRBwA5re~VmFwGl_ePiT-Nc5YqCf5JPq"
            }

+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "invalid-email-confirmation",
            "message": "Your email has not been verified."
        }

+ Request 400 Invalid Confirmation ID (application/json)
    + Body

            {
                "email": "aditya@example.com",
                "confirmationId": "uK_5G4d84FyhASl.nwjbDdLryV8pTGFfDRBwA5re~VmFwGl_ePiT-Nc5YqCf5JPq"
            }
            
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "invalid-email-confirmation",
            "message": "Your email has not been verified."
        }

### Resend Email Confirmation [POST /auth/resend]

Request to resend another email confirmation. 


+ Request 200 Valid Email Confirmation Resend (application/json)
    + Body

            {
                "email": "aditya@example.com"
            }
        
+ Response 200 (application/json; charset=utf-8)

        {
            "success": true,
            "message": "Another confirmation email has been successfully sent."
        }

+ Request 400 Requesting Verification Too Quickly (application/json)
    + Body

            {
                "email": "aditya@example.com"
            }
        
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "email-verification-too-quickly",
            "message": "You have already requested an email verification recently."
        }


+ Request 400 Email Already Verified (application/json)
    + Body

            {
                "email": "already-verified@example.com"
            }
        
+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "email-already-verified",
            "message": "This email has already been confirmed."
        }
        
        
+ Request 400 Invalid Email Confirmation Resend (application/json)

    + Body

            {
                "email": "non-existent@example.com"
            }
        

+ Response 400 (application/json; charset=utf-8)

        {
            "success": false,
            "error": "non-existent-email",
            "message": "An account with this email address does not exist, try signing up first."
        }

### Dashboard Overview [GET /overview{?id}]

Get details about a user's courses.

+ Request 200 (application/json)
    + Headers
        
        Authorization: bearer JWT

+ Response 200 (application/json; charset=utf-8)

        {
            "user": {
                "name": "Aditya Pillai",
                "email": "aditya@example.com"
            },
            "myCourses": [
                {
                    "id": "...",
                    "name": "15112 Very interesting course",
                    "instructors": 10,
                    "students": 500,
                    "activites": 5,
                    "polls": 10,
                    "expired": false
                }
            ],
            "enrolledCourses": [
                {
                    "id": "...",
                    "name": "15112 Very interesting course",
                    "head": "Mr. Head Instructor",
                    "activites": 5,
                    "polls": 10,
                    "oh": true,
                    "expired": false
                }
            ]
        }

