// 1. Custom variables and variable overwrites
@import url("https://fonts.googleapis.com/css?family=Lato");

$global-font-family: 'Lato';
$global-link-color: #203fb6;
$global-link-hover-color: #008afb;
$base-selection-background: $global-link-hover-color;
$global-primary-background: #be0575;
$global-warning-background: #ff6611;
$global-danger-background: #f62336;

.uk-text-link {
  color: $global-link-color !important;
}

.uk-margin-xsmall-right {
  margin-right: 5px !important;
}

@media print {
  .uk-hidden-print {
    display: none !important;
  }
}

// 2. Import default variables and available mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Custom mixin overwrites

// 4. Import UIkit
@import "uikit/src/scss/uikit-theme.scss";

// 5. Stripe elements
.StripeElement {
  padding: $form-padding-vertical $form-padding-horizontal;
  height: $form-height;
  border: $global-border-width solid $global-border;
  transition: $transition-duration;
  padding-top: 11px;
  max-width: 100%;
}

.StripeElement--focus {
  border: $global-border-width solid $global-primary-background;
  transition: $transition-duration;
}

.StripeElement--invalid {
  border-color: $global-danger-background;
}

.StripeElement--webkit-autofill {
  border-color: $global-warning-background;
}
